/* 
Colors:
    #F6F6F6 White Smoke
    #EFEFEF Isabelline
    #006DC5 French Blue
    #444444 Arsenic
    #333338 Dark Grey
    #D9D9D9 Border Color
*/

/* General Styles */
html, body {
    color: #444444;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-weight: 500;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}    

h1, h2 {
    color: #006DC5;
}    

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.5rem;
}

.title {
    color: #333338;
    font-size: 1.5rem;
    padding-bottom: .50rem;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
    height: 64px;
}

.logo {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 24px;
    font-size: 1.3rem;
}

.logo img {
    height: 2.7rem;
}

.logo span {
    color: #006DC5;
}

.logo #colmar {
    color: #333338;
}

nav {
    display: inline;
    padding-right: 24px;
}

nav span {
    padding-left: 16px;
    font-size: 1.1rem;
}

.mobile-nav {
    display: none;
}

/* Banner Styles */
#banner {
    display: flex;
    background-color: #333338;
    color: #EFEFEF;
}

.banner-image {
    width: 55%;
    padding: 1.7rem 1.3rem;
}

.banner-image img {
    max-width: 100%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    line-height: 3rem;
    padding-left: 1.3rem;
}

.banner-text h1 {
    font-size: 3.8rem;
    line-height: 3.25rem;
    padding-bottom: 1.5rem;
}

.banner-text h3 {
    color: #EFEFEF;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}

.banner-text span {
    background-color: #006DC5;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1rem;
    width: 80%;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
}

/* Sidebar Styles */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1.7rem 1rem; 
    border-left: 1px solid #D9D9D9;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.sidebar-image {
    height: auto;
    width: 35%;
}

.sidebar-image img {
    max-width: 100%;
}

.sidebar-text {
    width: 65%;
    font-size: 0.90rem;
    padding-left: 1.3rem;
    line-height: 1.55rem;
}

.readmore {
    color: #006DC5;
}

/* Information Styles */
#information {
    display: flex;
    background-color: #EFEFEF;
}

.information {
    width: 60%;
    padding: 1.7rem 1.3rem;
}

.information img {
    max-width: 100%;
}

.information-text {
    padding: 1.5rem 0;
    line-height: 1.15rem;
}

.information-title {
    text-align: left;
    text-transform: capitalize;
    padding: 0 0 2rem 0;
    font-size: 2rem;
}

.information-text p {
    line-height: 1.25rem;
    padding-bottom: 1.5rem;
}

.information-text span {
    font-size: 0.89rem;
    font-style: italic;
}

#mobile-information {
    display: none;
}

/* Courses Styles */
#courses h2 {
    text-align: center;
    padding-bottom: 32px;
}

.courses-row {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.course {
    height: auto;
    width: 470px;
    background-color: #EFEFEF;
    margin: 0 16px;
}

.image-container img {
    width: 100%;
}

.course-text {
    margin: 24px 20px;
}

#courses .title {
    color: #006DC5;
    margin-top: 16px;
}

.subtitle {
    margin: 8px 0;
}

/* Thesis Styles */
#thesis {
    background-color: #EFEFEF;
}

.thesis {
    display: flex;
}

.thesis-main {
    width: 60%;
    padding: 1.7rem 1.3rem;
}

.thesis-main video {
    width: 100%;
}

.thesis-text {
    padding: 1.3rem 0;
}

.thesis-title {
    font-size: 1.25rem;
    color: #006DC5;
    text-align: left;
    text-transform: capitalize;
    padding: 0 0 1.7rem 0;
}

.thesis-text p {
    width: 85%;
}

#thesis .sidebar {
    border: none;
    padding-left: 0;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
    color: #444444;
    height: 64px;
    font-size: 0.88rem;
    border-top: 1px solid #D9D9D9;
}

footer .copyright {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

footer nav span {
    font-size: 0.88rem;
}

/* Mobile Styles */
@media only screen and (max-width: 480px) {
    h2 {
        font-size: 2rem;
    }
    
    /* Navigation Bar */
    .desktop-nav {
        display: none;
    }

    .logo {
        display: none;
    }

    .mobile-nav {
        width: 90%;
        display: flex;
        margin-left: 2rem;
    }
    
    /* Banner */
    #banner {
        display: block;
    }

    .banner-image {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .banner-text {
        width: 100%;
    }

    .banner-text h1 {
        font-size: 2rem;
        padding: 32px 0;
    }

    .banner-text h3 {
        padding: 0 12.5px 24px 0;
        font-size: 1.25rem;
    }

    .banner-text span {
        margin-bottom: 32px;
    }
    
    /* Information */
    #information {
        display: none;
        padding: 16px;
    }

    #mobile-information {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1.7rem 1rem;
        border-bottom: 1px solid #D9D9D9;
    }
    
    .mobile-info {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.7rem;
    }
    
    .mobile-info-image {
        height: auto;
        width: 93%;
    }
    
    .mobile-info-image img {
        max-width: 100%;
    }

    .mobile-info-text {
        font-size: 1rem;
        padding-top: 0.88rem;
        padding-left: 0.88rem;
        line-height: 1.55rem;
    }
    
    /* Courses */
    .courses-row {
        display: none;
    }

    #mobile-courses {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.33rem;
    }

    .course {
        margin-bottom: 0.44rem;
        width: 93%;
    }

    .course h5 {
        color: #444444;
        font-size: 1.5rem;
        padding: 1.33rem 0.88rem;
    }
    
    /* Thesis */
    #thesis .sidebar {
        display: none;
    }

    .thesis-main {
        width: 100%;
        padding: 1.7rem 0 1.3rem 0;
    }

    .thesis-text {
        display: none;
    }

    /* Footer */
    footer nav {
        display: none;
    }
}